<div class="col-md-12">
  <mat-toolbar>
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="row d-flex justify-content-center">
          <mat-form-field class="w-50">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              name="email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div class="row d-flex justify-content-center">
          <mat-form-field class="w-50">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              name="password"
              formControlName="password"
            />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        [disabled]="loginForm.invalid"
        (click)="onSubmit()"
        color="primary"
      >
        LOGIN
      </button>
    </mat-card-actions>
  </mat-card>
</div>
